<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand mt-1" href="/">
            <img src="/images/SPF-logo-circle.png" class="navbar-brand rounded-circle"
                 style="width: 60px; background-color: rgba(0,0,255,.1)" alt="Logo">
            Simple PHP Framework
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mt-1 mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Блог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts/create">Добавити пост</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <a class="btn btn-outline-success" href="/register" type="submit">Реєстрація</a>
            </form>
        </div>
    </div>
</nav>