{% if totalPages > 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if currentPage == 1 %}disabled{% endif %}">
                <a class="page-link" href="/posts?page={{ currentPage - 1 }}" tabindex="-1">Попередня</a>
            </li>
            {% for page in 1..totalPages %}
                {% if page == 1 or page == totalPages or (page >= currentPage - 2 and page <= currentPage + 2) %}
                    <li class="page-item {% if page == currentPage %}active{% endif %}">
                        <a class="page-link" href="/posts?page={{ page }}">{{ page }}</a>
                    </li>
                {% elseif (page == currentPage - 3 and currentPage > 4) %}
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript:void(0)">...</a>
                    </li>
                {% elseif (page == currentPage + 3 and page < totalPages - 3) %}
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript:void(0)">...</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="page-item {% if currentPage == totalPages %}disabled{% endif %}">
                <a class="page-link" href="/posts?page={{ currentPage + 1 }}">Наступна</a>
            </li>
        </ul>
    </nav>
{% endif %}