{% extends 'layouts/default.html.twig' %}

{% block main %}
    <div class="bg-body-tertiary p-5 rounded">
        <form action="/posts" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Заголовок</label>
                <input name="title" type="text" class="form-control" id="title" aria-describedby="titleHelp">
                <div id="titleHelp" class="form-text">Дайте своєму посту помітний заголовок.</div>
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Контент</label>
                <textarea name="body" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Додати</button>
        </form>
    </div>
{% endblock %}