{% extends 'default.html.twig' %}

{% block main %}
    <div class="bg-body-tertiary p-5 rounded">
        <h1>Домашня сторінка</h1>
        <a class="btn btn-lg btn-danger mt-3" href="{{ youTubeChannel }}" role="button">Перейти до YouTube</a>
    </div>
{% endblock %}